<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar-geral">
        <div class="nav-superior">
            <a href="../index.html" class="logo">prcAngolanas</a>
            <ul>
                <li>
                    <!-- <a href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i></a> -->
                    <a href="login.html" class="user-desktop">Entrar</a>
                    <a href="login.html" class="user-mobile"><i class="fa-solid fa-right-to-bracket"></i></a>

                </li>
                <li>
                    <!-- <a href="#"><i class="fa-solid fa-user-plus"></i></a> -->
                    <a href="cadastro.html" class="user-desktop active-d">Registar</a>
                    <a href="cadastro.html" class="user-mobile active-m"> <i class="fa-solid fa-user-plus"></i></a>
                </li>
            </ul>
        </div>
        <div class="divisao"></div>
        <div class="nav-inferior">
            <div class="menu-btn">
                <i class="fa-solid fa-bars" onclick="menuShow()"></i>
            </div>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li>
                    <a href="#">Revistas</a><i class="fa-solid fa-caret-down"></i>
                    <ul class="submenu">
                        <li><a href="./revistas/revista1.html">Extensão Universitária</a></li>
                        <li><a href="./revistas/revista2.html">Realidade Social</a></li>
                        <li><a href="./revistas/revista3.html">Extensão Universitária</a></li>
                        <li><a href="./revistas/revista4.html">Olhar Científico</a></li>
                    </ul>
                </li>
                <li><a href="#">Sobre</a></li>

                <li>
                    <a href="#">Serviços</a><i class="fa-solid fa-caret-down"></i>
                    <ul class="submenu-2">
                        <li><a href="../Servicos/criacoa.html">Criação de Revistas e Artigos</a></li>
                        <li><a href="../Servicos/revisao.html">Revisão de Revistas e Artigos</a></li>
                        <li><a href="../Servicos/hospdagem.html">Hospedagem de Revistas e Artigos</a></li>
                        <li><a href="../Servicos/indexacao.html">Indexação de Revistas e Artigos</a></li>
                    </ul>
                </li>
                <li><a href="#">Contactos</a></li>
            </ul>

        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
            <a href="#"> <i class="fab fa-youtube"></i></a>
        </div>
    </nav>
    <!-- / -->

    <div class="container mag-g justify-content-center">
        <div class="row row-1 justify-content-center">
            <div class="col-xs-12 col-md-6">
                <div class="login-icon mb-3">
                    <i class="fa-solid fa-user-plus">
                    </i>
                </div>
                <h5 class="text-center">Seja Bem-Vindo(a). Cadastra-te Aqui!</h5>
                <hr>
                <form>
                    <div class="form-group d-flex">
                        <div>
                            <label for="primeiro-nome" class="mb-1">Nome</label>
                            <input type="text" id="primeiro-nome" class="form-control" ngModel name="primeiro-nome"
                                placeholder="Primeiro nome" required>
                        </div>
                        <div>
                            <label for="ultimo-nome" class="mb-1">Sobrenome</label>
                            <input type="text" id="ultimo-nome" class="form-control" ngModel name="ultimo-nome"
                                placeholder="Último nome" required>

                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="email" class="mb-1">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="Digite seu email" required>

                    </div>
                    <div class="form-group mt-4">
                        <label for="palavra-passe" class="mb-1">Defina a sua palavra-passe</label>
                        <input type="password" id="palavra-passe" class="form-control" name="palavra-passe"
                            placeholder="Palavra-passe" required email>
                    </div>
                    <div class="form-group mt-4 mb-3">
                        <label for="confirmar-passe" class="mb-1">Confirme a Palavra-passe</label>
                        <input type="password" id="confirmar-passe" class="form-control" name="confirmar-passe"
                            placeholder="Confirmar palavra-passe" required email>
                    </div>
                    <hr>
                    <p class="text-danger"><b>Nota:</b> sua palavra-passe deve conter pelo menos 10 ou mais
                        caracteres <i>"maiúsculos e . , ! - _ @"</i> para que seja segura!</p>
                    <hr>
                    <button class="btn btn-primary mt-2" type="submit">Cadastrar</button>

                    <div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  -->

    <!-- footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-1">
                <p style="text-align: center; margin-bottom: 0;">&copy; Todos os Direitos Reservados - <i
                        style="font-style: normal; font-weight: lighter;">UnitelCode: Jeorgel Chitende</i> -
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </div>
    </footer>


    <script src="../../js/bootstrapjs/bootstrap.min.js"></script>
    <script src="../../js/index.js"></script>
</body>

</html>