<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olhar Cientifico</title>
    <link rel="stylesheet" href="../../css/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/revista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar-geral">
        <div class="nav-superior">
            <a href="../index.html" class="logo">prcAngolanas</a>
            <ul>
                <li>
                    <!-- <a href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i></a> -->
                    <a href="#" class="user-desktop">Entrar</a>
                    <a href="#" class="user-mobile"><i class="fa-solid fa-right-to-bracket"></i></a>

                </li>
                <li>
                    <!-- <a href="#"><i class="fa-solid fa-user-plus"></i></a> -->
                    <a href="#" class="user-desktop">Registar</a>
                    <a href="#" class="user-mobile"> <i class="fa-solid fa-user-plus"></i></a>
                </li>
            </ul>
        </div>
        <div class="divisao"></div>
        <div class="nav-inferior">
            <div class="menu-btn">
                <i class="fa-solid fa-bars" onclick="menuShow()"></i>
            </div>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li>
                    <a href="#" class="active">Revistas</a><i class="fa-solid fa-caret-down"></i>
                    <ul class="submenu">
                        <li><a href="revista1.html" >Extensão Universitária</a></li>
                        <li><a href="revista2.html">Realidade Social</a></li>
                        <li><a href="revista3.html">Extensão Universitária</a></li>
                        <li><a href="revista4.html" class="active2">Olhar Científico</a></li>
                    </ul>
                </li>
                <li><a href="#">Sobre</a></li>

                <li>
                    <a href="#">Serviços</a><i class="fa-solid fa-caret-down"></i>
                    <ul class="submenu-2">
                        <li><a href="#">Criação de Revistas e Artigos</a></li>
                        <li><a href="#">Revisão de Revistas e Artigos</a></li>
                        <li><a href="#">Hospedagem de Revistas e Artigos</a></li>
                        <li><a href="#">Indexação de Revistas e Artigos</a></li>
                    </ul>
                </li>
                <li><a href="#">Contactos</a></li>
            </ul>

        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
            <a href="#"> <i class="fab fa-youtube"></i></a>
        </div>
    </nav>
    <!-- / -->

    <!-- Conteudo da Revsta1 -->
    <div class="container mt-5 mb-5">
        <div class="row conteudo-revista">
            <h3 class="text-left">Olhar Científico</h3>
            <div class="col-md-6">
                <img src="https://1.portalpensador.com/wp-content/uploads/2022/03/Capa-V3_n2_2021___Easy-Resize.com_.jpg"
                                class="d-block w-100 img-h-79" alt="...">
            </div>
            <div class="col-md-6">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem, itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet?
                    Accusantium doloremque quas autem iusto?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem, itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet?
                    Accusantium doloremque quas autem iusto?</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem, itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet?
                    Accusantium doloremque quas autem iusto?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem, itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet?
                    Accusantium doloremque quas autem iusto?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem, itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet?
                    Accusantium doloremque quas autem iusto? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestiae minus quos eaque cumque sunt possimus iusto corporis rerum repellendus. Fugit!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, libero inventore ullam nisi quam
                    totam veniam expedita explicabo laudantium exercitationem similique. Optio, qui voluptates in maxim.
                </p>
            </div>

            <div class="col-md-12">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quaerat, quisquam obcaecati cupiditate
                sint
                voluptatem repellat natus numquam amet, unde cum, quidem explicabo laborum! Optio beatae quo eligendi
                voluptatibus officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab alias voluptates consequatur officiis sed
                dolorem libero amet voluptatibus distinctio expedita quia veritatis a cum, nisi minima quos cumque
                porro!
                Tempore.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem,
                    itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet? Accusantium
                    doloremque
                    quas autem iusto?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quaerat, quisquam obcaecati
                    cupiditate
                    sint voluptatem repellat natus numquam amet, unde cum, quidem explicabo laborum! Optio beatae quo
                    eligendi voluptatibus officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab alias voluptates consequatur officiis
                    sed
                    dolorem libero amet voluptatibus distinctio expedita quia veritatis a cum, nisi minima quos cumque
                    porro! Tempore.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptas temporibus neque.
                    Voluptatem,
                    itaque velit, sed officiis id eveniet, natus voluptas quaerat omnis optio amet? Accusantium
                    doloremque
                    quas autem iusto?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quaerat, quisquam obcaecati
                    cupiditate
                    sint voluptatem repellat natus numquam amet, unde cum, quidem explicabo laborum! Optio beatae quo
                    eligendi voluptatibus officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab alias voluptates consequatur officiis
                    sed
                    dolorem libero amet voluptatibus distinctio expedita quia veritatis a cum, nisi minima quos cumque
                    porro! Tempore.
                </p>
               
            </div>
        </div>
    </div>
    <!--  -->

    <!-- footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-1">
                <p style="text-align: center; margin-bottom: 0;">&copy; Todos os Direitos Reservados - <i
                        style="font-style: normal; font-weight: lighter;">UnitelCode: Jeorgel Chitende</i> -
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </div>
    </footer>


    <script src="../../js/bootstrapjs/bootstrap.min.js"></script>
    <script src="../../js/index.js"></script>
</body>

</html>